.admin_register {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 200px auto;
    border: 1px solid black;
    max-width: 400px;
    padding: 100px;

    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.275);
    max-width: 500px;
    margin: 100px auto;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.19);

    .adminregistr_worng {
        font-size: 14px;
        color: red;
        padding: 10px 0;
    }

    h1 {
        text-align: center;
        font-weight: bold;
        font-size: 32px;
        padding-bottom: 100px;
    }

    @media screen and (max-width:300px) {
        h1 {
            font-size: 18px;
        }
    }

    input {
        max-width: 300px;
        width: 100%;
        margin-bottom: 20px;
        padding: 10px 15px;
        border-radius: 3px;
        border: 1px solid rgba(63, 61, 61, 0.359);
    }

    button {
        padding: 15px 30px;
        border: 0;
        background-color: rgb(71, 38, 38);
        font-size: 18px;
        color: rgb(179, 175, 175);
        font-weight: bold;
        transition: 0.4s;
        border-radius: 10px;

        &:hover {

            background-color: rgba(72, 13, 13, 0.804);
            color: white;
        }
    }
}