main {
    .total {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 3;
        bottom: 10%;
        right: 10%;
        background-color: rgba(122, 8, 8, 0.855);
        border-radius: 10px;
        font-size: 24px;

        .total_btn {
            background-color: white;
            border: 0;
            color: black;
            font-size: 18px;
            padding: 5px 10px;
            border-radius: 10px;
            transition: 0.4s;

            &:hover {
                background-color: red;
                color: white;
            }
        }
    }


    .Basgetcard {
        padding-top: 100px;
        display: flex;
        gap: 20px;
        justify-content: space-around;
        flex-wrap: wrap;



        .card {
            width: 300px;

            .imgdiv {
                overflow: hidden;
                width: 100%;
                height: 200px;


                img {
                    width: 100%;
                    transition: 0.4s;
                    height: auto;
                    position: relative;
                    top: -30px;

                }

                &:hover {
                    img {
                        transform: scale(1.1);

                    }
                }

                .divbtn {
                    position: absolute;
                    background-color: black;
                    z-index: 2;
                    bottom: -80px;
                    transition: 0.4s;
                    display: flex;
                    width: 100%;

                    .see {
                        background-color: black;
                        color: white;
                    }

                    button {
                        width: 50%;
                        padding: 20px 0;

                        border: 0;
                    }
                }

                &:hover {
                    .divbtn {
                        bottom: 0;

                        button {
                            display: block;
                            padding: 20px 0;

                        }
                    }
                }
            }

            .basket_item {
                display: flex;
                gap: 10px;

                button {
                    border: 0;
                    background-color: white;
                    padding: 10px;
                    transition: 0.2s;
                    font-size: 16px;
                    margin-bottom: 10px;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

                    &:hover {
                        background-color: wheat;
                    }
                }
            }

        }

        .shop {
            display: flex;
            justify-content: center;
            padding: 20px 0;

            .sale {
                display: flex;
                align-self: center;
                justify-content: center;
                padding: 5%;
                border-radius: 50%;
                color: white;
                background-color: rgba(247, 125, 125, 0.755);
            }

            .ptag {
                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                    color: black;
                    font-weight: bold;
                    font-size: 24px;
                }

                h2 {
                    font-size: 22px;
                    color: rgba(247, 125, 125, 0.755);
                }
            }
        }
    }

    .check {
        position: fixed;
        background-color: rgb(170, 167, 167);
        padding: 50px;
        z-index: 3;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        display: none;
        max-width: 500px;
        width: 100%;

        h1 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: rgba(117, 4, 4, 0.892);
            margin-bottom: 10px;
            text-align: center;

        }

        .card {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 16px;

            h2 {
                font-size: 20px;
            }

        }

        .mytotal {
            position: relative;
            top: 0;
            left: 0;
            max-width: 250px;
            background-color: wheat;
            padding: 10px;
            margin-top: 10px;
            font-size: 14px;
        }
    }



    @media screen and (max-width:400px) {
        .total {
            flex-direction: column;
        }

        .check {
            overflow: auto;
            height: 200px;

            h1 {
                padding: 10px;

            }

            .card {
                flex-direction: column;
                border-bottom: 5px solid sandybrown;
                margin-top: 30px;

                h2 {
                    font-size: 16px;
                }
            }
        }
    }

}