main {

    .topics {
        .mycontainer {
            .name {
                padding: 100px 0;
                display: flex;
                flex-direction: column;
                align-items: center;

                h2 {
                    font-size: 44px;
                    text-align: center;
                    padding-bottom: 20px;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                }

                p {
                    font-size: 20px;
                    text-align: center;
                    color: rgba(0, 0, 0, 0.629);
                    max-width: 600px;
                }
            }

            .myaddiction {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;


                .cards {
                    display: flex;
                    gap: 20px;
                    max-width: 600px;
                    width: 100%;
                    position: relative;

                    img {
                        transition: 0.5s;
                        width: 100%;
                        height: 20vw;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }

                    .time {
                        font-size: 1.3vw;
                        position: absolute;
                        left: 0;
                        background-color: black;
                        color: white;
                        padding: 2vw;
                    }

                    .hilton {
                        font-size: 1.5vw;
                        font-weight: bold;
                        padding: 20px 0;
                    }

                    .lorem {
                        padding: 20px 0;
                        font-size: 1.3vw;
                    }

                    .icons {
                        display: flex;
                        font-size: 1.5vw;

                        i {
                            padding-left: 20px;
                            padding-right: 10px;
                        }
                    }
                }



            }

            .btn {
                display: flex;
                justify-content: center;
                width: 100%;
                padding: 80px 0;

                button {
                    border: 0;
                    background-color: rgba(2, 137, 199, 0.785);
                    padding: 15px 30px;
                    border-radius: 15px;
                    color: white;
                    transition: 0.1s;
                    border: 1px solid white;


                    &:hover {
                        background-color: white;
                        color: rgba(2, 137, 199, 0.785);
                        border: 1px solid;

                    }
                }
            }


        }
    }

    @media screen and (max-width:900px) {

        .topics {
            .mycontainer {

                .myaddiction {
                    grid-template-columns: 1fr;

                    .cards {
                        width: 100%;
                        height: auto;
                    }
                }
            }


        }
    }

    @media screen and (max-width:768px) {

        .topics {
            .mycontainer {

                .myaddiction {
                    grid-template-columns: 1fr;

                    .cards {
                        width: 70%;
                        height: auto;
                    }
                }
            }


        }
    }

    @media screen and (max-width:468px) {

        .topics {
            .mycontainer {

                .myaddiction {
                    grid-template-columns: 1fr;

                    .cards {
                        width: 20%;
                        height: auto;
                    }
                }
            }


        }
    }

    @media screen and (max-width:368px) {

        .topics {
            .mycontainer {

                .myaddiction {
                    grid-template-columns: 1fr;

                    .cards {
                        width: 10%;
                        height: auto;
                    }
                }
            }


        }
    }




    .mycontainer {


        .unique {
            h3 {
                color: white;
                font-size: 2vw;
                font-weight: bold;
                padding: 30px;
            }
        }

        .blog_cart {
            h4 {
                color: white;
                font-size: 1.5vw;
                padding: 30px;
            }
        }
    }

}