main {
  padding: 200px 0;



  .fade {
    margin: 0 auto;



    .slidecard {
      width: 100%;
      height: 40vw;

      img {
        width: 100%;
        height: 100%;
      }

      display: flex;
      position: relative;

      .easily {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: start;
        opacity: 0;
        transition: 0.5s;

        h2 {
          color: brown;
          font-size: 2vw;
          font-weight: bold;
        }

        h1 {
          font-size: 8vw;
          font-weight: bold;
        }

        p {
          font-size: 1.5vw;
          color: brown;

          font-weight: bold;
        }

        button {
          padding: 15px 30px;
          border: 1px solid red;
          background-color: rgb(255, 25, 0);
          color: rgb(255, 255, 255);
          border-radius: 20px;
          transition: 0.4s;

          &:hover {
            background-color: rgba(255, 255, 255, 0.732);
            color: rgb(0, 0, 0);
            transform: rotateY(5deg);
            border: 1px solid;
          }
        }
      }

      @media screen and (max-width: 480px) {
        .easily {
          gap: 10px;

          button {
            padding: 3vw 6vw;
          }
        }
      }
    }

    .men_img {
      position: relative;

      img {
        width: 40%;
        position: absolute;
        right: 0;
        transition: 0.4s;
      }

      .easily {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: start;
        opacity: 0;
        transition: 0.5s;

        h2 {
          color: brown;
          font-size: 2vw;
          font-weight: bold;
        }

        h1 {
          font-size: 8vw;
          font-weight: bold;
        }

        p {
          font-size: 1.5vw;
          color: brown;
          max-width: 500px;
          font-weight: bold;
        }

        button {
          padding: 15px 30px;
          border: 1px solid red;
          background-color: rgb(255, 25, 0);
          color: rgb(255, 255, 255);
          border-radius: 20px;
          transition: 0.4s;

          &:hover {
            background-color: rgba(255, 255, 255, 0.732);
            color: rgb(0, 0, 0);
            transform: rotateY(5deg);
            border: 1px solid;
          }
        }
      }
    }

    .slick-prev {
      left: 20px;
      position: absolute;
      margin-top: 30%;
      transform: translate(0, -50%);
      z-index: 2;
      border: 0;
      font-size: 32px;
      background: none;
      color: white;
      transition: 0.4s;

      &:hover {
        transform: scale(1.5);
      }
    }

    .slick-next {
      top: 0;
      right: 20px;
      position: absolute;
      margin-top: 30%;
      transform: translate(0, -50%);
      z-index: 2;
      border: 0;
      font-size: 32px;
      background: none;
      color: white;
      transition: 0.4s;

      &:hover {
        transform: scale(1.5);
      }
    }

    .slick-dots {
      display: flex;
      justify-content: center;

      li {
        padding: 2%;

        button {
          background-color: rgba(161, 104, 104, 0.774);
          color: rgba(89, 196, 223, 0);
          border: 1px solid rgba(134, 113, 96, 0.774);

          border-radius: 50%;
          width: 20px;
          height: 20px;
          transition: 0.2s;

          &:hover {
            transform: scale(1.125);
          }
        }
      }
    }
  }

  .rooms {
    .mycontainer {
      display: flex;
      justify-content: space-between;
      gap: 20px;

      .myroom {
        max-width: 350px;
        width: 100%;
        height: 200px;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;

        img {
          width: 100%;
          height: auto;

        }

        .name {
          position: absolute;
          background-color: rgba(78, 76, 76, 0.303);
          padding: 100%;

          p {

            font-size: 200%;

            a {
              color: white;

            }
          }
        }
      }
    }


  }

  @media screen and (max-width: 768px) {
    .rooms {
      .mycontainer {
        flex-direction: column;
        align-items: center;
      }
    }

  }

  .product {
    .mycontainer {
      padding: 100px 0;

      .recend {
        p {
          color: black;
          text-align: center;
          font-size: 24px;
          padding: 100px 0;
        }

        h2 {
          padding: 10px;
          color: rgb(62, 60, 60);
          font-size: 24px;
        }

        .filter_cart {
          display: flex;
          justify-content: start;
          flex-wrap: wrap;
          gap: 20px;
          padding: 10px;

          button {
            padding: 10px 20px;
            border: 0;
            background-color: rgb(244, 236, 234);
            color: rgb(223, 141, 141);
            border-radius: 10px;
            transition: 0.4s;
            margin-top: 20px;

            &:hover {
              background-color: rgb(240, 149, 38);
              color: rgb(255, 255, 255);

            }
          }
        }

      }

      .mycards {
        padding-top: 100px 0;
        display: flex;
        gap: 30px;
        justify-content: space-around;
        flex-wrap: wrap;
        opacity: 0;
        transition: 0.4s;

        .card {
          width: 300px;
          box-shadow: 10px 8px rgba(0, 0, 0, 0.050), 8px 6px rgba(0, 0, 0, 0.075), 5px 4px rgba(0, 0, 0, 0.100);
          background-color: rgba(228, 230, 229, 0.122);

          .img {
            position: relative;
            transition: 0.4s;
            overflow: hidden;
            height: 200px;

            .wislis {
              position: absolute;
              top: 10px;
              right: 10px;
              z-index: 2;
              background: none;
              border: 0;
              font-size: 20px;

              i {
                color: red;
              }
            }

            img {
              width: 100%;
              height: auto;
              transition: 0.4s;
              position: relative;
              top: -30px;

            }

            &:hover {
              img {
                transform: scale(1.2);

              }
            }

            .divbtn {
              position: absolute;
              background-color: black;
              z-index: 2;
              bottom: -80px;
              transition: 0.4s;
              display: flex;
              width: 100%;




              .see {
                background-color: black;
                color: white;
                width: 50%;
                padding: 20px 0;

                border: 0;

                i {
                  margin-left: 10px;
                }
              }

              .basket {
                background-color: rgba(255, 0, 0, 0.575);
                color: black;
              }

              button {
                width: 50%;
                padding: 20px 0;

                border: 0;
              }
            }

            &:hover {
              .divbtn {
                bottom: 0;

                button {
                  display: block;
                  padding: 20px 0;

                }
              }
            }
          }

          .shop {
            display: flex;
            justify-content: center;
            padding: 20px 0;


            .sale {
              display: flex;
              align-self: center;
              justify-content: center;
              padding: 9% 5%;
              border-radius: 50%;
              color: white;
              background-color: rgb(255, 0, 0);
              margin-right: 10px;
            }

            .ptag {
              display: flex;
              flex-direction: column;
              align-items: center;

              p {
                color: black;
                font-weight: bold;
                font-size: 24px;
              }

              h2 {
                font-size: 22px;
                color: rgba(247, 125, 125, 0.755);
              }
            }
          }
        }
      }
    }
  }


  .Discover {
    background-image: url(https://a6e8z9v6.stackpathcdn.com/infinite/homepages/emporium/wp-content/uploads/sites/18/2016/06/cta-bg.jpg);
    background-repeat: repeat;
    background-position: center;
    top: 0;
    left: 0;
    background-attachment: fixed;
    width: 100%;
    height: 750px;
    background-size: auto;
    animation: 5s linear infinite;
    transition: 10s;

    .mycontainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10%;
      height: 100%;
      text-align: center;

      h2 {
        font-size: 45px;
        color: white;
      }

      button {
        padding: 20px 30px;
        background-color: white;
        color: black;
        border-radius: 20px;
        transition: 0.4s;
        border: 0;

        &:hover {
          background-color: rgba(93, 40, 40, 0.851);
          color: white;
        }
      }
    }

    @media screen and (max-width:360px) {
      .mycontainer {
        h2 {
          font-size: 24px;
        }
      }
    }
  }

  .Fashion {

    .myname {
      h2 {
        text-align: center;
        font-size: 32px;
        padding: 100px 0;
      }
    }

    .autoplay {
      .card {
        max-width: 300px;
        height: 300px;
        box-shadow: 10px 8px rgba(0, 0, 0, 0.050), 8px 6px rgba(0, 0, 0, 0.075), 5px 4px rgba(0, 0, 0, 0.100);
        margin-left: 10px;

        .img {
          position: relative;
          transition: 0.4s;
          overflow: hidden;
          height: 200px;




          .wislis {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 2;
            background: none;
            border: 0;
            font-size: 16px;

            i {
              color: red;
            }
          }

          img {
            width: 100%;
            transition: 0.4s;
            height: auto;
            position: relative;
            top: -30px;

          }

          &:hover {
            img {
              transform: scale(1.2);

            }
          }

          .divbtn {
            position: absolute;
            background-color: black;
            z-index: 2;
            bottom: -80px;
            transition: 0.4s;
            display: flex;
            width: 100%;

            .see {
              background-color: black;
              color: white;
              width: 50%;
              padding: 20px 0;

              border: 0;
              font-size: 12px;

              i {
                margin-left: 10px;
              }
            }

            .basket {
              background-color: rgba(255, 0, 0, 0.575);
              color: black;
            }

            button {
              width: 50%;
              padding: 20px 0;
              font-size: 12px;

              border: 0;
            }
          }

          &:hover {
            .divbtn {
              bottom: 0;

              button {
                display: block;
                padding: 20px 0;

              }
            }
          }
        }
      }

      .shop {
        display: flex;
        justify-content: center;
        padding: 20px 0;
        gap: 10px;

        .sale {
          display: flex;
          align-self: center;
          justify-content: center;
          padding: 7% 3%;
          border-radius: 50%;
          color: white;
          background-color: rgb(255, 0, 0);
          font-size: 15px;
        }



        .ptag {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1%;

          p {
            color: black;
            font-weight: bold;
            font-size: 18px;
          }

          h2 {
            font-size: 16px;
            color: rgba(247, 125, 125, 0.755);
          }
        }
      }



      .slick-next {
        opacity: 0;
        cursor: auto;
      }

      .slick-prev {
        opacity: 0;
        cursor: auto;
      }

      .slick-dots {
        display: flex;
        justify-content: center;




        li {
          padding: 2%;

          button {
            background-color: rgba(161, 104, 104, 0.774);
            color: rgba(89, 196, 223, 0);
            border: 1px solid rgba(134, 113, 96, 0.774);
            border-radius: 50%;
            width: 20px;
            height: 20px;
            transition: 0.2s;

            &:hover {
              transform: scale(1.125);
            }
          }

        }

        .slick-active {
          button {
            background-color: rgb(91, 41, 41);
            background-color: rgb(91, 41, 41);
          }
        }


      }


    }



  }


  .CUSTOMERS {
    padding: 100px 0;

    .mycontainer {
      max-width: 1440px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 1%;

      .word {
        max-width: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        text-align: center;
        background-color: rgba(215, 213, 213, 0.545);
        padding: 150px 20px;
        margin: 20px 0;

        i {
          border: 1px solid black;
          padding: 10px;
          border-radius: 50%;
        }

        h2 {
          font-size: 24px;
          color: black;
        }

        p {
          font-size: 18px;
          color: rgba(0, 0, 0, 0.425);
        }

        button {
          padding: 20px 30px;
          border-radius: 10px;
          background-color: white;

          border: 0;
          transition: 0.3s;

          &:hover {
            background-color: rgb(222, 209, 209);
          }
        }
      }

      .SHIPPING {
        max-width: 450px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        text-align: center;
        background-color: rgba(145, 34, 34, 0.812);
        padding: 150px 20px;

        margin: 20px 0;

        h2 {
          font-size: 24px;
          color: white;
        }

        p {
          font-size: 18px;
          color: white;
        }

        i {
          font-size: 32px;
        }

        button {
          padding: 20px 30px;
          border-radius: 10px;
          background-color: white;

          border: 0;
          background-color: white;
          transition: 0.3s;



          &:hover {
            background-color: rgb(222, 209, 209);


          }
        }
      }
    }
  }


}